@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/ammonite');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --ubuntu:"Ubuntu", sans-serif;
  --montserrat:"Montserrat", sans-serif;
  --ammonite:'Ammonite', sans-serif;
  --poppins:"Poppins", sans-serif;
  --kumar-2:"Kumar One", serif;
  --fontFamily: "Kumar One Outline", system-ui;
  --purpleButton:#8903FF;
  --borderColor:linear-gradient(to right, #00FFE1, #8903FF,#00FFE1);  /*border image property me dena h border solid transparent me daal ke*/
  --backgroundColor:linear-gradient(to right, rgba(255, 0, 208, 0.4), rgba(94, 0, 255, 0.4));
}
body{
  background-image: url('../public/MacBookAir-1.png');
  background-position-x: center;
  background-size: 634%;
  background-repeat: repeat-y;

}
.header-sec{
  background-image: url("../public/Header&Banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 400px;
  display: flex;
  justify-content: center;
}
.navbaar{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  position: absolute !important;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 10px 20px;
  background: #ffffff1A; 
  z-index: 1;
  margin-top: -3px;
  width: 85%;
}
.nav-link:focus, .nav-link:hover {
    color: white !important;
}
.navbaar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  background: #ffffff1A;
  pointer-events: none;
  z-index: 2; 
}
.navbaar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 2px; 
  background: var(--borderColor);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box , 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude; 
  pointer-events: none; 
  z-index: 1;
}
.nav-logo{
  font-family: var(--ammonite);
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 36px;
}
.navbaar .option-contain{
  display: flex;
  justify-content: end;
  align-items: center;
}
.option-contain{
  gap: 30px;
  font-family: var(--poppins);
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}
.nav-options .nav-link{
  color: #ffffff;
  list-style: none;
}
.nav-options{
  display: flex;
  align-items: center;
  justify-content: end;
}
a.active.nav-link {
    color: white !important;
    font-size: 24px;
  font-weight: bold;
}
.styleBtn{
  border: 2px solid transparent !important; 
  border-radius: 30px !important;
  padding: 10px 30px;
  text-transform: capitalize;
  color: #ffffff !important;
  font-family: var(--montserrat) ;
  font-weight: bold;
}
.colorBtn{
  background-image:
    linear-gradient(var(--purpleButton), var(--purpleButton)), 
    var(--borderColor);             
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.header-content{
  text-align: center;
  margin-top: 115px;
  padding-top: 160px;
  line-height: 24px;
  position: relative;
  max-width: 870px;
}
.banner-head{
  font-size: 64px;
  color: #ffffff;
  font-family: var(--kumar-2);
}
.font-diff{
  font-size: 48px;
}
.stylePara{
  font-family: var(--poppins);
  color: white;
  font-size: 18px;
}
.clasic-btn{
  border: 2px solid white !important;
  background-color: transparent !important;
  font-family: var(--montserrat);
  font-weight: bold;
}
.butons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-top: 20px;
  padding-top:  20px;
}







/* banner-sec */
.banner-sec{
  border: 2px solid transparent;
  background-image:
    linear-gradient(#222222, #222222), 
    var(--borderColor);             
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-left: none;
  border-right: none;

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: transparent;
  height: 100px;
  margin: 50px 0;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width:100%;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}








/* About sec */
.about-sec{
  background-color: transparent;
}
.row-1{
  padding: 80px 0;
  gap: auto;
}
.about-h2{
  font-family: var(--kumar-2);
  color: #ffffff;
  font-size: 30px;
  margin-top: 40px;
  padding-top: 20px ;
}
.about-para{
  font-size: 14px;
  padding-top: 18px;
}
.about-board{
  background: var(--backgroundColor);
  border-radius: 20px;
  padding: 30px;
  margin-top: 40px;
}
.innerboard{
  background-color: #222222;
  border: 2px solid transparent;
  border-radius: 15px;
  background-image:
    linear-gradient(#222222, #222222), 
    var(--borderColor);             
  background-origin: border-box;
  background-clip: padding-box, border-box;
  gap: 30px;
  padding: 20px 30px;
}
.about-sec-h2{
  font-family: var(--fontFamily);
  color: white;
  font-size: 48px;
  margin-bottom: 0;
}
.about-board-p{
  font-family: var(--poppins);
  font-size: 14px;
  color: white;
  margin-bottom: 0;
}
.imge-para-about{
  font-family: var(--poppins);
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding-left: 24px;
}
.bottom-img-para{
  color: white;
  font-size: 14px;
  margin-bottom: 0;
}
.give-position{
  position: relative;
  cursor: pointer;
}
.icon-tag{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 50px;
    top: 40%;
    left: 47%;
}


/* trending-games -sec */
.trending-games{
  padding-bottom: 80px;
}
.trends-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending-h2{
  margin-top: 0;
}
.fire-para{
  color: white;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid transparent;
  border-image: var(--borderColor);
  background-image:
    linear-gradient( #121212, #121212), 
    var(--borderColor);             
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 5px 0;
}
.give-something{
  padding-top: 60px;
}
.images{
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.card-1{
  position: relative;
}

.card-1:hover .images{
  opacity: 25%;
}
.card-1:hover .image-position{
  display: block;
}
.image-position{
  top: 25%;
  position: absolute;
  width: 55%;
  background-color: #222222;
  text-align: center;
  border: 1px solid transparent;
  background-image:linear-gradient(to right,#222222,#222222), var(--borderColor);
  background-origin: border-box;
  background-clip: padding-box,border-box;
  border-radius: 15px;
  padding: 20px;
  margin-left: 62px;
  display: none;
  transition: all 1s ease-in-out;
}
.image-position span{
  color: white;
  font-family: var(--fontFamily);
  font-size: 48px;
}
.image-position h4{
  color: white;
  font-family: var(--poppins);
}

/* features-section */

.features-section{
  background-image: url("../public/Key\ Features.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

.features-container {
  max-height: 630px;   
  overflow-y: auto;   
  padding: 16px;
  scrollbar-width: none;       
  -ms-overflow-style: none; 
}
.features-container::-webkit-scrollbar {
  display: none; 
}
.feature-h2{
  font-family: var(--kumar-2);
  color: white;
  font-weight: 48px;
}
.feature-p{
  color: white;
  font-family: var(--poppins);
  font-size: 14px;
  line-height: 187.5%;
}
.feature-h3{
  color: white;
  font-family: var(--kumar-2);
  font-size: 30px;
}
.give-after{
  position: relative;
}
.give-after::after{
  position: absolute;
  content: '';
  width: 50%;
  height: 5px;
  background-color: #00FFE1;
}
.give-margin{
  margin-left: 150px;
}
.give-margin .nav-link{
  color: #FF00D0 !important;
  text-decoration: underline #FF00D0 !important;
  font-family: var(--poppins);
  font-size: 16px;
}
.give-padding-feature{
  padding-bottom: 242px;
  padding-top: 200px;
}

/* trailer-section */

.trailer-section{
  padding: 80px 0;
}
.icon-tags {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 50px;
    top: 45%;
    left: 48%;
}

/* teams-section */
.teams-section{
  padding-bottom: 80px;
}
.teams-h2{
  margin-top: 0;
}
.Team-cards{
  padding: 60px;
  padding-bottom: 30px;
  border: 1px solid transparent;
  background-image: linear-gradient(#222222,#222222),var(--borderColor);
  background-origin: border-box;
  background-clip: padding-box,border-box;
  border-radius: 16px;
}
.Team-cards:hover{
  background: linear-gradient(to right, rgb(255, 0, 208), rgb(94, 0, 255));
}
.h4-teams{
  font-family: var(--poppins);
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}
.p-teams{
  font-family: var(--fontFamily);
  font-size: 22px;
  color: white;
}
.team-padding{
  padding-top: 57px;
}

/* news section */
.News-section{
  background-image: url("../public/Community\ Highlights.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.news-p{
  font-size: 18px;
}
.news-card{
  position: relative;
  /* transition: all 20s ease-in-out; */
}
.show-need{
  position: absolute;
  margin-left: 20px;
  bottom: 5%;
  display: none;
  transform: translateY(50%);
  /* transition: all 20s ease-in-out; */
}
.show-need .nav-link{
  color: #FF00D0 !important;
  text-decoration: underline #FF00D0 !important;
  font-family: var(--poppins);
  font-size: 16px;

}
.h4-news{
  font-size: 24px;
}
.news-card:hover img{
  opacity: 80%;
}
.news-card:hover .show-need{
  display: block;
  transform: translateY(0);
  /* transition: all 20s ease-in-out; */
}

/* rating-section */

.rating-section{
  padding: 80px 0;
}
.rating-p{
  font-family: var(--poppins);
  font-size: 20px;
  color: white;
  line-height: 187.5%;
}
.rating-box{
  border: 2px solid transparent;
  background: linear-gradient(rgb(0,0,0),rgb(0,0,0)), var(--borderColor);
  background-origin: border-box;
  background-clip: padding-box,border-box;
  padding: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.h4-rating, .p-rating{
  font-family: var(--poppins);
  color: white;
  font-size: 18px;
}
.h4-rating{
  font-weight: bold;
}
.hi-here{
  position: relative;
  z-index: 1;
}
.rating-box{
      position: absolute;
    top: 35%;
    left: -100%;
    right: 95%;
    z-index: -1;
}

/* footer sectoin */

.footer-back{
  background-image: url("../public/Header&Banner.png"),var(--borderColor);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-clip: padding-box,border-box;
  background-position-y: center;
  border: 1px solid transparent;
  border-bottom: none;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding:  40px;
}
.h3-footer{
  font-family: var(--ammonite);
  font-size: 36px;
  color: white;
}
.footer-para{
  font-family: var(--poppins);
  font-size: 16px;
  color: white;
}
.h4-footer{
  font-family: var(--ubuntu);
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer-icon-div{
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-icon-div .nav-link{
    padding: 5px 5px;
    background: var(--purpleButton);
    width: 9%;
    text-align: center;
    border-radius: 20px;
}
.h3-footer-mid{
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.lists-footer{
  display: inline-block;
  margin-top: 10px;
}
.lists-footer li{
  color: white;
  font-family: var(--poppins);
  font-size: 16px;
  list-style: disc;
  list-style-image: var(--purpleButton);
  padding-bottom: 20px;
}
.lists-footer li::marker {
  color: var(--purpleButton); 
}
.contain-footer-div{
  padding-top: 15px;
}


/* modal contact */
.modal-content{
  background: #ffffff1A !important;
  border: 2px solid transparent;
  background-image: linear-gradient(#222222, #222222), var(--borderColor) !important;
  background-origin: border-box !important;
  background-clip: padding-box,border-box !important;
  color: white !important;
  font-family: var(--poppins);
  border-radius: 15px !important;

}
.make-buttons{
  background: #222222 !important;
  background-image: linear-gradient((#222222,#222222)), var(--borderColor) !important;
  background-clip: padding-box,border-box;
  background-origin: border-box !important;
  border: 2px solid transparent !important;
}

/* ai */
.contact-modal .btn-close {
  filter: invert(1);   
  opacity: 1;        
}
.contact-modal .btn-close:hover {
  filter: invert(62%) sepia(98%) saturate(5000%) hue-rotate(260deg); 
  opacity: 0.8; 
}
.outlineBtn {
  color: #fff;
  background-color: transparent;
  background-image: var(--borderColor);
  background-origin: border-box;
  background-clip: border-box;
}
.form-control:focus {
    border-color: #00FFE1 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 255, 225, 25%) !important;
}